@model IEnumerable<SabidoMagroAcademia.Domain.Entities.WorkoutActivity>

@{
    ViewData["Title"] = "Index";
}

<h1>Séries</h1>

<p>
    <a asp-action="Create" title="Edit" class="btn btn-primary">
        <span class="fas fa-plus"></span> Criar nova série
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>

               Ordem
            </th>
            <th>
                Séries
            </th>
            <th>
                Repetições
            </th>
            <th>
                Descanço
            </th>
            <th>
                Treino
            </th>
            <th>
               Exercício
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Order)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sets)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reps)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Workout.Label)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activity.Label)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" title="Edit" class="btn btn-warning">
                    <span class="fas fa-edit"></span>Editar
                </a>

                <a asp-action="Details" asp-route-id="@item.Id" title="Details" class="btn btn-primary">
                    <span class="fas fa-search"></span>Detalhes
                </a>

                <a asp-action="Delete" asp-route-id="@item.Id" title="Delete" class="btn btn-danger">
                    <span class="fas fa-trash-alt"></span>Excluir
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
