@model SabidoMagroAcademia.Application.DTOs.ClientDTO

<h3>Client Details</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.User.Name)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.User.Name)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.User.Email)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.User.Email)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.User.Image)</dt>
        <dd class="col-sm-10">
            @if (!ViewBag.ImageExist)
            {
                <img src="~/images/noimage.png" class="rounded-circle"
                     height="300" width="300" asp-append-version="true" />
            }
            else
            {
                <img src="~/images/@Model.User.Image" class="rounded-circle"
                     height="300" width="300" asp-append-version="true" />
            }
        </dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Avaliations.Last().Weight)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Avaliations.Last().Weight)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Avaliations.Last().Height)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Avaliations.Last().Height)</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
