@model IEnumerable<SabidoMagroAcademia.Application.DTOs.AvaliationDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Avaliações</h1>

<p>
    <a asp-action="Create" title="Edit" class="btn btn-primary">
        <span class="fas fa-plus"></span> Avaliar
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Cliente
            </th>
            <th>
                Treino
            </th>
            <th>
               Peso
            </th>
            <th>
               Altura
            </th>
            <th>
               Comentário
            </th>
            <th>
               Professor
            </th>
            <th>
               Data
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Client.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Label)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Height)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoachsComments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Coach.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
